<section class="p-4 pt-8">
  <!-- <h1 class="text-2xl font-bold text-center py-4">New Workout</h1> -->
  <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
    <div>
      <input
        type="text"
        list=""
        class="block text-3xl w-full font-medium px-3 py-2 mb-6 border-b-2 bg-none border-emerald-200 outline-none focus:border-emerald-400"
        id="workoutName"
        name="workoutName"
        formControlName="workoutName"
        placeholder="Workout name" />
      <input
        type="date"
        class="block mb-4 outline-none text-lg"
        id="date"
        name="date"
        formControlName="date" />
    </div>
    <div formArrayName="exercises" class="">
      <ng-container
        *ngFor="let exercise of exercises().controls; let exIndex = index">
        <div [formGroupName]="exIndex" class="flex flex-col mb-4">
          <div class="flex justify-between gap-2">
            <input
              type="text"
              class="px-3 py-1 text-xl border-b-2 mb-4 w-full border-emerald-200 outline-none focus:border-emerald-400"
              formControlName="exerciseName"
              placeholder="Exercise Name..." />
            <button
              type="button"
              class="py-2 px-3 mb-4 border-rose-200 border-2 rounded font-medium text-lg hover:bg-rose-300"
              (click)="removeExercise(exIndex)">
              Remove
            </button>
          </div>
          <ng-container formArrayName="sets">
            <div class="grid grid-cols-4 gap-10 mb-2 border-b-2">
              <span class="block text-lg text-center self-center">Set</span>
              <span class="block text-lg text-center self-center">Reps</span>
              <span class="block text-lg text-center self-center">Weight</span>
              <span class="block text-lg text-center self-center">Delete</span>
            </div>
            <ng-container
              *ngFor="let set of sets(exIndex).controls; let setIndex = index">
              <div [formGroupName]="setIndex" class="grid grid-cols-4 gap-10">
                <span class="block text-xl text-center self-center">{{
                  setIndex
                }}</span>
                <input
                  type="number"
                  formControlName="reps"
                  class="block text-lg border-b-2 border-emerald-200 outline-none focus:border-emerald-400 text-center self-center" />
                <input
                  type="number"
                  formControlName="weight"
                  class="block text-lg border-b-2 border-emerald-200 outline-none focus:border-emerald-400 text-center self-center" />
                <button
                  type="button"
                  class="text-3xl font-semibold text-orange-600"
                  (click)="removeSet(exIndex, setIndex)">
                  &times;
                </button>
              </div>
            </ng-container>
          </ng-container>
          <button
            class="text-3xl font-semibold text-emerald-600 mx-4 px-2 self-end"
            type="button"
            (click)="addSet(exIndex)">
            &plus;
          </button>
        </div>
      </ng-container>
    </div>
    <button
      class="inline-block w-full py-2 mb-4 bg-rose-100 rounded font-medium text-lg hover:bg-rose-200"
      type="button"
      (click)="addExercise()">
      Add Exercise
    </button>
    <button
      class="block w-full bg-emerald-100 rounded font-medium text-lg px-3 py-2 hover:bg-emerald-200"
      type="submit">
      Done!
    </button>
  </form>
</section>
